.answers-item {
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.answers-item:hover {
  opacity: 0.5;
  transition: background-color 0.3s ease-in-out;
}

.answers-item--success {
  background-color: green;
}

.answers-item--error {
  background-color: red;
}
